.text-input {
    -fx-highlight-fill: derive(#5bff1f, 70.0%);
    -fx-highlight-text-fill: black;
    -fx-font-size: 13;
    -fx-font-family: Consolas;
    -fx-background-color: derive(#e0e0e0, 0.0%);
}

.text-input:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: derive(#e3e3e3, 5.0%);
}

#lineNum {
    -fx-color-label-visible: derive(#e3e3e3, 5.0%);
    -fx-background-color: derive(#e0e0e0, 0.0%);
    -fx-control-inner-background : derive(#e3e3e3, 5.0%);
}

#lineNum .scroll-bar {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

#lineNum .scroll-bar .increment-button {
    visibility: hidden;
}

#lineNum .scroll-bar .decrement-button {
    visibility: hidden;
}

#lineNum .scroll-bar:vertical {
    -fx-background-color: transparent;
}

#lineNum .scroll-bar:vertical .track-background {
    visibility: hidden;
}

#lineNum .scroll-bar:vertical .track {
    visibility: hidden;
}

#lineNum .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.button  {
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#btnRun {
    -fx-background-size: 16px 18px;
    -fx-background-image: url("runIcon.png");
}

#btnStep {
    -fx-background-image: url("stepIcon.png");
}

#btnChoose {
    -fx-background-size: 25px 25px;
    -fx-background-image: url("chooseIcon.png");
}

#btnReset {
    -fx-background-image: url("resetIcon.png");
}

.aligned-column {
    -fx-alignment: CENTER;
    -fx-padding: 5;
}

#textSegValue {
    -fx-padding: 5 5 5 20;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#a1a1a1, 30.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#a1a1a1, 0.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}